.movie-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    color: white;
}
.right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-side img{
    width: 400px;
}
.title{
    font-size: 40px;
}
.sub-title{
    font-size: 32px;
}
.description{
    font-size: 28px;
}